# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Baileys Auth Data (IMPORTANT: never commit this!)
auth_info/

# TS Build Output
dist/
build/

# Logs
*.log
npm-debug.log*

# Editor & OS
.vscode/
.DS_Store
Thumbs.db
